{% extends "home.html" %}

{% block content %}

<div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <article>
                        <header class="mb-4">
                            <h1 class="fw-bolder mb-1">{{article.title}}</h1>
                            <div class="text-muted fst-italic mb-2">Posted on {{article.updated_at}} by {{article.author}}</div>
                            <a class="badge bg-primary text-decoration-none text-light" href="#!">{{article.category}}</a>
                        </header>
                        <figure class="mb-4"><img class="img-fluid rounded"
                                src="{{article.image.url}}" alt="..." /></figure>
                        <section class="mb-5">
                            <p class="fs-5 mb-4">{{article.detail_description}}</p>
                        </section>
                    </article>
                </div>
            </div>
        </div>

{% endblock content %}








